.cartSugges_main_wrap {
  margin-top: 24px;
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* Filters */
.filters {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-bottom: 12px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.filterBtn {
  border: 1px solid #111;
  background: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  white-space: nowrap;
  color: #111;

  &:hover {
    background-color: #111;
    color: #fff;
  }
}

.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

/* ---------------- DEFAULT = MOBILE ---------------- */
.horizontalScroll {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cardWrapper {
  min-width: 160px;
  flex-shrink: 0;
}

/* Tablet */
@media (min-width: 768px) {
  .cardWrapper {
    min-width: 200px;
  }

  .horizontalScroll {
    gap: 18px;
  }
}

/* Laptop & Desktop */
@media (min-width: 1024px) {
  .cardWrapper {
    min-width: 240px;
  }

  .horizontalScroll {
    gap: 50px;
  }
}
